html {
  font-size: 16px;
}
body {
  font-family: 'Golos', sans-serif;
  text-rendering: geometricPrecision;
  color: var(--color-text, #333333);
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 320px;
}
* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before,&:after {
    box-sizing: border-box;
  }
}
input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button, input, textarea {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
}
a, button, label {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
}