@import "./components/variables";
//normalize.css
@import "../../node_modules/normalize.css/normalize";
//bootstrap-grid
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
//поддержка 5 колонок
.col-20pc,
.col-sm-20pc,
.col-md-20pc,
.col-lg-20pc,
.col-xl-20pc,
.col-80pc,
.col-sm-80pc,
.col-md-80pc,
.col-lg-80pc,
.col-xl-80pc {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: ($grid-gutter-width/2);
    padding-left: ($grid-gutter-width/2);
}
.col-20pc {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-80pc {
  flex: 0 0 80%;
  max-width: 80%;
}
@media (min-width: map_get($grid-breakpoints, sm)) {
  .col-sm-20pc {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-sm-80pc {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (min-width: map_get($grid-breakpoints, md)) {
  .col-md-20pc {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-80pc {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (min-width: map_get($grid-breakpoints, lg)) {
  .col-lg-20pc {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-80pc {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (min-width: map_get($grid-breakpoints, xl)) {
  .col-xl-20pc {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-80pc {
    flex: 0 0 80%;
    max-width: 80%;
  }
}


//fonts
@import "./components/fonts";

/*========== Basic ==========*/
@import "./components/basic";

/*========== Layout ==========*/
@import "./components/layout";

/*========== Components ==========*/
@import "./components/components";

/*========== Typography ==========*/
@import "./components/typography";

/*========== Helpers ==========*/
@import './components/helpers';

/*========== Buttons ==========*/
@import './components/buttons';

/*========== Tooltips ==========*/
@import "./components/tippy";

/*========== Form ==========*/
@import "./components/range";
@import './components/form';

/*========== Slider ==========*/
@import './components/slider';

/*========== Scrollbar ==========*/
@import './components/scrollbar';

/*========== popups ==========*/
@import './components/popups';

/*========== Breadcrumbs ==========*/
@import './components/breadcrumbs';

/*========== Blocks ==========*/
@import './components/blocks';

/*========== Reviews ==========*/
@import './components/reviews';

/*========== Header ==========*/
@import './components/header';

/*========== Filter ==========*/
@import './components/filter';

/*========== Mobile-nav ==========*/
@import './components/mobile-nav';

/*========== Home ==========*/
@import './components/home';

/*========== Footer ==========*/
@import './components/footer';
