extends layout/layout
  
block title
  title Главная

block style
  //styles for custom banner
  link(rel="stylesheet" href="./styles/custom-banner.css")

block content
  .custom-banner-1
    .main_screen__wrapper(style="background-image: url('./img/custom-banner-content/bg2.jpeg');")
      .main_screen
        h1.main_screen__headline
          //span Tedwood
          | Деревянный дом без щелей и деформаций
        p.main_screen__description
          | Технология строительства деревянного дома по ГОСТу
          br
          |  от автора изобретения Пружинный узел "СИЛА"
        //a.quick_contacts__btn.btn.pdf(href='#' target='_blank') Инструкция по сборке стен
        .catalog_rubrics
          .catalog_rubrics__item.horizontal
            a.catalog_rubrics__item__link(href='#')
              span.base
                span.layout(style='border-color: #ffe500 transparent transparent transparent;')
                span.preview(style="background-image: url('./img/custom-banner-content/part1.png');")
              span.catalog_rubrics__item__title Технология TEDWOOD
              span.catalog_rubrics__item__headline Тёплый угол
              span.catalog_rubrics__item__description
                span.crid_text
                  | Утепление угловых соединений
                  br
                  | в домах из бруса
                span.crid_button.yellow
                  | УЗНАТЬ БОЛЬШЕ
              span.mobile-only
                img(src='./img/custom-banner-content/part1_mobile.png' alt='Тёплый угол')
          .catalog_rubrics__item.vertical
            a.catalog_rubrics__item__link(href='#')
              span.base
                span.layout(style='border-color: #2d9cdd transparent transparent transparent;')
                span.preview(style="background-image: url('./img/custom-banner-content/part3.png');")
              span.catalog_rubrics__item__title Технология TEDWOOD
              span.catalog_rubrics__item__headline Скрытая проводка
              span.catalog_rubrics__item__description
                span.crid_text
                  | Просторные каналы
                  br
                  | для прокладки кабеля
                span.crid_button.blue
                  | УЗНАТЬ БОЛЬШЕ
              span.mobile-only
                img(src='./img/custom-banner-content/part3_mobile.png' alt='Скрытая проводка')
          .catalog_rubrics__item.horizontal
            a.catalog_rubrics__item__link(href='#')
              span.base
                span.layout(style='border-color: #BDBDBD transparent transparent transparent;')
                span.preview(style="background-image: url('./img/custom-banner-content/part2.png');")
              span.catalog_rubrics__item__title Технология TEDWOOD
              span.catalog_rubrics__item__headline
                | Пружинный
                br
                | узел TEDWOOD
              span.catalog_rubrics__item__description
                span.crid_text
                  | Соединение бревен и брусьев между собой
                  br
                  |  для устранения появления щелей между ними
                span.crid_button.gray
                  | УЗНАТЬ БОЛЬШЕ
              span.mobile-only
                img(src='./img/custom-banner-content/part2_mobile.png' alt='Пружинный узел TEDWOOD')
          .clearfix
        .tripple_checkbox_section
          .tripple_checkbox__item(style="background-image: url('./img/custom-banner-content/checkbox1.svg');")
            | Теплые углы
          .tripple_checkbox__item(style="background-image: url('./img/custom-banner-content/checkbox2.svg');")
            | Теплые стены
          .tripple_checkbox__item(style="background-image: url('./img/custom-banner-content/checkbox3.svg');")
            | Безопасная проводка
          .clearfix
