extends layout/layout
  
block title
  title Регистрация
block breadcrumbs 
  -var title = 'Регистрация'
  include blocks/breadcrumbs
block variables
  -var content = 'main_muted'

block content
  section.section.container
    .row.justify-content-center
      .col-lg-6.col-md-8
        .tab-heading
          a(href="auth.html").tab-heading__link Вход
          a(href="reg.html").tab-heading__link.active Регистрация
        .page-container
          h2.section__title Добро пожаловать в клуб
          form(action="#").form.js-validation
            .row
              .col-12.form__group
                .form__group-content
                  .input.form__input
                    input(type="text" name='name' placeholder="Имя*").input__element.required
                    span.input__label Компания*
                  .input.form__input
                    input(type="text" name='name2' placeholder="Имя*").input__element.required
                    span.input__label Контактное лицо*
                  .input.form__input
                    input(type="text" name='phone' placeholder="Телефон*").input__element.required.phone
                    span.input__label Телефон
                  .input.form__input
                    input(type="text" name='email' placeholder="Email").input__element.required
                    span.input__label Email
                  .input.form__input
                    input(type="password" name='pass' placeholder="Пароль*").input__element.required
                    span.input__label Пароль
                  .row
                    .col-sm-6
                      .input.input_code.form__input
                    .col-sm-6
                      .input.form__input
                        input(type="text" name='code' placeholder="Проверочный код*").input__element
                  .checkbox.form__input
                    input(type="checkbox" id='1').checkbox__input
                    label(for='1').checkbox__label Хочу получать информацию об акциях
              .col-12.form__bottom
                .row.align-items-center
                  .col-sm-auto
                    button.button.button_style-2.form__submit Зарегистрироваться
                  .col-sm-auto
                    a(href="auth.html").form__link.link Уже есть аккуант?
                span.form-post-text Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
