//кнопка вверх
a(href="javascript:void(0);").fixed-btn.js-scroll-top
  svg.icon
    use(xlink:href='./img/icons/icons-sprite.svg#top-arrow')

//кнопка инфо
.safety-message-fixed.toggle-section(data-class-only)
  a(href="javascript:void(0);").fixed-btn.toggle-section__head.safety-message-fixed__btn
    svg.icon
      use(xlink:href='./img/icons/icons-sprite.svg#touch')
  .safety-message-fixed__popup.toggle-section__content
    span Наш сайт использует cookie, данные об IP-адресе, местоположении. Если Вы не хотите, чтобы эти данные обрабатывались, то должны покинуть сайт.
